body {color: blue;}

p {
  color: black; 
  text-align: center; 
  font-family: "New Courier", monospace;
  font-size: 500%;}

.container{
  display: grid;
  background-color: #eff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}
 .tile{
   color: #eff;
   text-align:center;
   background-color: #455;
}
